﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.map"> </script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @Styles.Render("~/css/bootstrap.css")
    @Styles.Render("~/css/style.css")
    <link rel="shortcut icon" href="../favicon.ico">
 
    <script type="text/javascript" src="~/js/modernizr.custom.86080.js"></script>
    
</head>
<body>
    <!--ÜST MENUUUUU-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
              <div class="navbar-brand">
                  <a>@Html.ActionLink("EMINEM", "Index", "Home") </a>

              </div>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="menu">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                        <li>@Html.ActionLink("Kimdir", "Kimdir", "Home")</li>
                        <li>@Html.ActionLink("Haberler", "Haber", "Home")</li>
                        <li>@Html.ActionLink("Albümler", "Album", "Home")</li>
                        <li>@Html.ActionLink("Konser Takvimi", "Konser", "Home")</li>
                        <li>@Html.ActionLink("İletişim", "iletisim", "Home")</li>

                    </ul>

                    <div class="nav navbar-nav navbar-right col-md-4">
                        <div class="col-md-9">
                            @Html.Partial("_LoginPartial")
                        </div>
                        <div class="col-md-3">
                            <button>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" role="button" aria-expanded="false">Dil <span class="caret"></span></a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" role="menu">
                                        <li><a href="#">EN</a></li>
                                        <li><a href="#">TR</a></li>
                                    </ul>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
</div>
        </div>
    </nav>
        @RenderBody()
   
    <!--FOOTER-->
    
     <div class="footer">
    <footer>
        <strong class="rises">Copyright &copy;@DateTime.Now.Year RiseSoft Company</strong>
    </footer>
    </div>
   
</body>
</html>
