﻿
.footer
    { background-color:transparent;
      position:relative;
      top: 510px;
      left:20px;
      height: 50px;
      width: 1323px;
      font-family:Impact;
      font-size:large;
      border-radius: 10px 10px;
    }
.menu
{
    font-family:Impact;
    font-size:medium;
}
.rises
{ 
    left:20px;
    border-radius: 20px 20px;
}
.sosyalmedya
{
  height:5px;
  width:10px;
  /*margin-top:110px;*/
  margin-left:590px;

}

.contact
{   margin-top:110px;
    margin-left:520px;
    font-family:Impact;
    font-size:35px;

}
.bizeyaz
{   text-align:center;
     padding-top:30px;
     padding-left:0px;
    font-family:Impact;


}
.slider
{
  height:550px;
  width:800px;
  position:center;
}